<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="all_games.html" class="nav-link" style="color: #000;">Wszystkie</a></li>
        <li class="nav-item"><a href="introduction.html" class="nav-link" style="color: #000;">Zapoznawcze</a></li>
        <li class="nav-item"><a href="integration_evening.html" class="nav-link" style="color: #000;">Integracyjne</a></li>
        <li class="nav-item"><a href="travel.html" class="nav-link" style="color: #000;">W drodze</a></li>
        <li class="nav-item"><a href="sports.html" class="nav-link" style="color: #000;">Sportowe</a></li>
        <li class="nav-item"><a href="youngest.html" class="nav-link" style="color: #000;">Dla najmłodszych</a></li>
        <li class="nav-item"><a href="house_party.html" class="nav-link" style="color: #000;">Domówka</a></li>
        <li class="nav-item"><a href="group_meeting.html" class="nav-link" style="color: #000;">Spotkanie w grupie</a></li>
    </ul>
</header>
